### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

**/target
*.project
*.factorypath
*.classpath
*.settings
*bin
*debug.log
*.idea
*.test-output
**/test-output
*.DS_Store
**/src/main/resources/drivers/*

### Gradle ###
.gradle
build/

